<div class="container-fluid">
  <hr>
  <div class="card bg-light mx-auto">
    <section class="card-body mx-auto" style="max-width: 400px; align-self: center; height: 200px;">
      <h4 class="card-title mt-3 text-center"> Login </h4>
      <form [formGroup]="loginFormDetails" >
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="email" autocomplete="email" class="form-control form-control-sm" formControlName="loginEmail" placeholder="Enter your email ID">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-question-circle"></i></span>
          </div>
          <input type="password" autocomplete="new-password" class="form-control form-control-sm" formControlName="loginPassword" placeholder="Enter your password">
        </div>
      </form>
    </section>
    <button type="submit" id="btn-submit" class="btn btn-primary btn-dark" (click)="submit($event)" > Login </button>
  <br>
  </div>
</div>