<div class="container-fluid">
  <hr>
  <div class="card bg-light">
    <section class="card-body mx-auto" style="max-width: 400;">
      <h4 class="card-title mt-3 text-center"> Enter the Content ID</h4>
      <form [formGroup]="contentIdForm">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span> <i class="cloud"></i> </span>
          </div>
          <input type="text" class="form-control form-control-sm" formControlName="contentId" placeholder="Enter the content id">
        </div>
        <button type="submit" id="btn-submit" class="btn btn-primary btn-sm btn-dark" (click)="submit($event)" > Find Content </button>
      </form>
    </section>
  </div>
  <button type="submit" id="btn-submit" class="btn btn-primary btn-sm btn-dark" (click)="submitSpace($event)" > Spaces </button>
  <hr>
  <div class="card-body mx-auto" id="contentValue">
  </div>
