<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=""> English Logica </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="login"> Login </a>
      <a class="nav-item nav-link" routerLink="signup"> Signup </a>
      <a class="nav-item nav-link" routerLink="profile"> Profile </a>
      <a class="nav-item nav-link" routerLink="main"> Main </a>
    </div>
  </div>
</nav>
  <router-outlet></router-outlet>
 