.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.btn-googleplus {
    background: #E93F2E;
	  border-radius: 1;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #b72213;
}
.btn-linkedin {
    background: lightseagreen;
	  border-radius: 1;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: lightseagreen;
}
#btn-submit, #btn-reset {
    text-align: center;
    align-self: center;
    float: left;
    clear: right;
}