<div class="container-fluid">
  <hr>
  <div class="card bg-light">
    <section class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center"> Create Account</h4>
      <p class="text-center"> Get started with your account</p>
      <p>
        <button class="btn btn-googleplus" (click)="socialSignIn('google')" > <i class="fa fa-google"></i> Google </button>
        <button class="btn btn-facebook"   (click)="socialSignIn('facebook')" > <i class="fa fa-facebook" ></i> Facebook </button>
        <button class="btn btn-linkedin"   (click)="socialSignIn('linkedin')" > <i class="fa fa-linkedin" ></i> LinkedIn </button>
      </p>
      <p class="divider-text">
        <span class="bg-light"> <p> OR </p> </span>
      </p>
      <form [formGroup]="signupFormDetails" >
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input type="text" autocomplete="name" class="form-control form-control-sm"  formControlName="name" placeholder="Enter Your Name" >         
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input type="email" autocomplete="email" class="form-control form-control-sm" formControlName="email" placeholder="Enter your email">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-question-circle"></i> </span>
          </div>
          <input type="password" autocomplete="new-password" class="form-control form-control-sm" formControlName="password" placeholder="Enter your pasword">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-question-circle "></i> </span>
          </div>
          <input type="password" autocomplete="new-password" class="form-control form-control-sm" formControlName="cpass" placeholder="Re-enter your password">
        </div>
      </form>
    </section>
    <button type="submit" id="btn-submit" class="btn btn-primary btn-dark" (keydown)="submit($event)" (click)="submit($event)" > Submit </button>   
  <br>
  </div>
</div>